.psw-c-t-accent {
  color: #0068bd;
  fill: #0068bd;
  color: var(--psw-c-t-accent);
  fill: var(--psw-c-t-accent);
}

body {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

a {
  color: #0671d9;
}